.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 50px;
  position: absolute;
  opacity: 0.85;
}

.page {
  text-align: center;
  display: block;
  position: relative;
  background-color: beige;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  opacity: 0.75;
  margin-top: 100px;
  border-style: solid;
  border-color: rgb(40,45,60);
}

body {
  background-color: beige;
}

h1 {
  color: rgba(40,45,100,0.75);
  font-size: 6em;
  font-family: 'Lobster';
  font-weight: lighter;

}

h2 {
  color: rgb(161,121,65);
  font-size: 2em;
  font-family: 'Cormorant Unicase', serif;
}

h4 a {
  color: rgb(161,121,65);
  font-weight: bold;
  font-size: 1.5em;
}

p {
}

navbar a{
  text-decoration: none;
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
  color: rgba(40,45,100,1);
  font-weight: bold;
}

.alert {
  background-color: red;
}

.notice {
  background-color: green;
}
