<% if @recipes.count == 0 %>
  <h2>There are no recipes posted yet, be the first to create one!</h2>
  <% else %>
<% @recipes.collect do |recipe| %>
  <h4> <%= link_to recipe.name, recipe_path(recipe), id: 'recipe_link' %> 
  <p class="recipe_info">  Prep Time: <%= recipe.prep_time_in_minutes %> minutes<br>
  Cook Time: <%= recipe.cook_time_in_minutes %> minutes<br>
  Added by: <%= recipe.user.name %> <br>
  <br>
  </p>
  </h4>
<% end %>
<% end %>