<h3>All Recipes</h3>

<p>
<% @recipes.collect do |recipe| %>
  <h4> <%= link_to recipe.name, recipe_path(recipe) %> </h4>
  Prep Time: <%= recipe.prep_time_in_minutes %> minutes<br>
  Cook Time: <%= recipe.cook_time_in_minutes %> minutes<br>
  Added by: <%= recipe.user.name %> <br>
  <br>
<% end %>
</p>
