<h3>All Recipes</h3>

<% @recipes.collect do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %> <br>
  Prep Time: <%= recipe.prep_time_in_minutes %> minutes<br>
  Cook Time: <%= recipe.cook_time_in_minutes %> minutes<br>
  Added by: <%= recipe.user.name %> <br>
  <br>
<% end %>
