<h2>New User Sign up!</h2>

<%= form_for @user do |f| %>
  Name:
  <br>
  <%= f.text_field :name %>
<br>
  Password:
  <br>
  <%= f.password_field :password %>
<br>
  <%= f.submit "Submit"%>
<% end %>
