<h1><%= @user.name %>'s Recipes</h1>

<% current_user.recipes.collect do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %>
  <button type="button" name="button"> <%= link_to 'Edit', edit_recipe_path(recipe) %> </button>
  <button type="button" name="button"> <%= link_to "Delete", recipe_path(recipe), method: :delete if logged_in? && current_user%> </button>
  <br>
<% end %>
